body {
    background-image: url('Icons/back_img2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    border: 4px solid #BEA066;
    background-color: #000000;
}
.logo{
    position: fixed;
    top: 0.5%;
    left: 1%;
    width: 10%;
    height: auto;
}
.rule_box{
    position: fixed;
    top: 2.5%;
    left: 55%;
    z-index: 2;
    font-size: 20px;
    color: #284A37;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding-left: 3%;
    padding-right: 3%;
    /*Button Properties*/
    border: none;
    border-top: 2px solid #BEA066;
    border-bottom: 2px solid #BEA066;
    border-left: 10px solid #BEA066;
    border-right: 10px solid #BEA066;
    background-color: #BEA066;
    border-radius: 50px;
}
.who_box{
    position: fixed;
    top: 2.5%;
    left: 68%;
    z-index: 2;
    font-size: 20px;
    color: #284A37;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding-left: 3%;
    padding-right: 3%;
    /*Button Properties*/
    border: none;
    border-top: 2px solid #BEA066;
    border-bottom: 2px solid #BEA066;
    border-left: 10px solid #BEA066;
    border-right: 10px solid #BEA066;
    background-color: #BEA066;
    border-radius: 50px;
}
.login_box{
    position: fixed;
    top: 2.5%;
    left: 85%;
    z-index: 2;
    font-size: 20px;
    color: #284A37;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding-left: 3%;
    padding-right: 3%;
    /*Button Properties*/
    border: none;
    border-top: 2px solid #BEA066;
    border-bottom: 2px solid #BEA066;
    border-left: 10px solid #BEA066;
    border-right: 10px solid #BEA066;
    background-color: #BEA066;
    border-radius: 50px;
}
.play_now_box{
    position: absolute;
    top: 50%;
    left: 38%;
    z-index: 2;
    font-size: 60px;
    color: #284A37;
    font-family: 'Bebas Neue', cursive;
    padding-left: 7%;
    padding-right: 7%;
    /*Button Properties*/
    border: 4px solid #000000;
    background-color: #BEA066;
    border-radius: 10px;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    border: 4px solid #BEA066;
    background-color: #000000;
}
.names{
    z-index: 2;
    color: #BEA066;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
#name1{
    position: fixed;
    bottom: 0.5%;
    left: 25%;
}
#name2{
    position: fixed;
    bottom: 0.5%;
    left: 35%;
}
#name3{
    position: fixed;
    bottom: 0.5%;
    left: 50%;
}
#name4{
    position: fixed;
    bottom: 0.5%;
    left: 65%;
}

/*ANIMATION*/
#zoom_in {transition: transform .5s;}
#zoom_in:hover {transform: scale(1.2);}
#play_button {
    animation-name: play_button;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes play_button {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}